:root {
    --heading-background-color: rgb(240 0 0);
    --heading-text-colot: #333;
    --heading-font: 'Monteserrat', Helvestica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(32, 211, 47, 0.1);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(70, 36, 36);
}

p {
    padding: 0;
    color: var(--heading-text-colot);
}

aside {
    width: 20em;
    border: var(--border);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}